header.jumbotron {
    background: url('img/bg.jpg') no-repeat;
    background-position: 0 -75px;
    background-size: cover;
    background-attachment: fixed;
    color: #eaeaea;
    height: 450px;
}
.jumbotron img{
    width: 200px;
    border: 5px solid rgb(217, 217, 217);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
.jumbotron h1, 
.jumbotron p {
    text-shadow: 1px 1px 10px rgb(217, 215, 215);
}
section#about {
    min-height: 600px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
section#projects {
    min-height: 900px;
}
section#contact {
    min-height: 575px;
}
section {
    padding-top: 25px;
}
h2{
    margin: 20px 0;
}

hr {
    width: 25%;
    margin-left:37.5% !important; 
    margin-right:37.5% !important;
    border-bottom: 3px solid rgb(128, 128, 128);
}

    /* footer */
footer {
    background-color: rgb(128, 128, 128);
    color: white;
    height: 100px;
    padding-top: 30px;
}
footer a {
    text-decoration: none;
    color: #000;
    
}
footer a:hover{
    color: rgb(255, 255, 255);
}